{% extends 'main/base.html' %}

{% block title %}
Attendence | class
{% endblock title %}

{% block body %}

     {% comment %} <form method='POST' action="{% url 'attendence_class' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="image" />
        <button type='submit' class="btn btn-success">Take Attendence</button>
     </form> {% endcomment %}


    {% comment %} <div class="container py-4">
        <video id="webcam" autoplay playsinline width="640" height="480"></video>
        <canvas id="canvas" class="d-none"></canvas>
    </div> {% endcomment %}

    <div class="contentarea">
        <h1>
            Using Javascript to capture Photo
        </h1>
        <div class="camera">
            <video id="video">Video stream not available.</video>
        </div>
        <div><button id="startbutton">Take photo</button></div>
        
        <canvas id="canvas"></canvas>
        <div class="output">
            <img id="photo" alt="The screen capture will appear in this box."> 
        </div>
    </div>


{% endblock body %}

{% block script %}
    <script>
    
        function startup() {
            video = document.getElementById('video');
            canvas = document.getElementById('canvas');
            photo = document.getElementById('photo');
            startbutton = document.getElementById('startbutton');

            // access video stream from webcam
            navigator.mediaDevices.getUserMedia({
                    video: true,
                    audio: false
                })
                // on success, stream it in video tag
                .then(function(stream) {
                    video.srcObject = stream;
                    video.play();
                })
                .catch(function(err) {
                    console.log("An error occurred: " + err);
                });

            video.addEventListener('canplay', function(ev) {
                if (!streaming) {
                    height = video.videoHeight / (video.videoWidth / width);

                    if (isNaN(height)) {
                        height = width / (4 / 3);
                    }

                    video.setAttribute('width', width);
                    video.setAttribute('height', height);
                    canvas.setAttribute('width', width);
                    canvas.setAttribute('height', height);
                    streaming = true;
                }
            }, false);

            startbutton.addEventListener('click', function(ev) {
                takepicture();
                ev.preventDefault();
            }, false);

            clearphoto();
        }

        function clearphoto() {
            var context = canvas.getContext('2d');
            context.fillStyle = "#AAA";
            context.fillRect(0, 0, canvas.width, canvas.height);

            var data = canvas.toDataURL('image/png');
            photo.setAttribute('src', data);
        }

        function takepicture() {
            var context = canvas.getContext('2d');
            if (width && height) {
                canvas.width = width;
                canvas.height = height;
                context.drawImage(video, 0, 0, width, height);

                var data = canvas.toDataURL('image/png');
                photo.setAttribute('src', data);
            } else {
                clearphoto();
            }
        }

    </script>
{% endblock script %}


{% comment %} 

    <form id="userinfoform" action="{% url 'attendence_class' %}">
        {% csrf_token %}
        First name: <input type="text" id="firstname">
        Last name: <input type="text" id="lastname">
        <input type="submit">
    </form>


    <script>
        $(document).ready(function(){
        $('#userinfoform').on('submit', function(e){

            $.ajax({
                method:'POST',
                url:'face-recognition/attendece/class/',
                data:{
                firstnamevalue:$('#firstname').val(),
                lastnamevalue:$('#lastname').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            }, 
                success: function() {

                alert('Data Successfully Posted');
                    
                },
            });

        });
    });
    </script>
{% endcomment %}


{% comment %} 
function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            const csrftoken = getCookie('csrftoken');
            const request = new Request(
                /* URL */,
                {headers: {'X-CSRFToken': csrftoken}}
            );
            fetch(request, {
                method: 'POST',
                mode: 'same-origin'  // Do not send CSRF token to another domain.
            }).then(function(response) {
                // ...
            });
            xhr.setRequestHeader("X-CSRFToken", csrftoken);

            var url = "{% url 'attendence_class' %}"
            var data = {'count': '5', 'X-csrfmiddlewaretoken': csrfmiddlewaretoken};
            $.post(url, data);
{% endcomment %}